/* COLORS */
/*
Speed Blue: 
  #013369
  rgb (1, 51, 105)
White:  
  #ffffff
  rgb (255, 255, 255)
Facemask Gray:  
  #a5acaf
  rgb (165, 172, 175)
Anvil Black:
  #10252c
  rgb (29, 37, 44)
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background: #ffffff;
  font-family: 'Inter', sans-serif;
  color: rgb(29, 37, 44);
}
header {
  margin-bottom: 24px;
}
h1 {
  font-family: 'Goblin One';
  text-align: center;
  color: #013369;
  font-size: 2.2rem;
  text-shadow: 0 2px 3px rgba(29,37,44,0.3);
  margin-left: 200px;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
button.activate {
  background: none;
  border: none;
  color: #013369;
  font-family: Inter;
  font-size: 1rem;
  margin-right: 250px;
}
button.activate:hover {
  color: #10252c;
  border-bottom: 1px solid #10252c;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: #a5acaf;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #013369;
  padding: 1rem;
  width: 400px;
  height: 450px;
  border-radius: 6px;
}
.closeBtn {
  background-color: #ce1126;
}
.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
hr.topBorder {
  border-bottom: 2px solid rgb(1, 51, 105);
  width: 73%;
  margin: 0 auto;
}